body {
  font-family: "Arial", sans-serif;
  margin: top;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #373537;
}


.subtask-container {
  padding: 1rem;
}

.subtask-table table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.subtask-table th,
.subtask-table td {
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  text-align: left;
}

.subtask-table th {
  background-color: #ffffff;
  font-weight: bold;
}

.edit-btn,
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.edit-btn:hover {
  color: blue;
}

.delete-btn:hover {
  color: red;
}

.hamburger-menu {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-dropdown {
  position: absolute;
  background: #696868;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 1000;
}

.user-link {
  display: block;
  margin-bottom: 0.5rem;
}

.user-btn {
  width: 100%;
  padding: 0.5rem;
  text-align: left;
  background-color: #0f0e0e;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.user-btn:hover {
  background-color: #636363;
}

.logout-btn {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  background-color: #ff5c5c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #e04a4a;
}

.edit-form {
  margin-top: 1rem;
}

.edit-form input,
.edit-form select {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.save-btn {
  padding: 0.5rem 1rem;
  background-color: #3182ce;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #2563eb;
}
